{% extends 'base.html' %}
{% load tz %}
{% block body %}
    <header class="header">
        <h2>History of Crawler {{ crawler.name }}</h2>
    </header>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Website</th>
            <th scope="col">User</th>
            <th scope="col">Started at</th>
            <th scope="col">Completed at</th>
            <th scope="col">Is Successful</th>
            <th scope="col">Is Complete</th>
            <th scope="col">Is Loaded</th>
            <th scope="col">File Path</th>
        </tr>
        </thead>
        <tbody>
        {% for record in crawler.get_history %}
            <tr>
                <td>{{ record.website }}</td>
                <td>{{ record.user }}</td>
                <td>{{ record.created_at|localtime }}</td>
                <td>{{ record.complete_at }}</td>
                <td>{% if record.is_successful %}
                    <i class="fas fa-check"></i> {% else %}
                    <i class="fas fa-times"></i> {% endif %}</td>
                <td>{% if record.is_complete %}
                    <i class="fas fa-check"></i> {% else %}
                    <i class="fas fa-times"></i> {% endif %}</td>
                <td>{% if record.is_loaded %}
                    <i class="fas fa-check"></i> {% else %}
                    <i class="fas fa-times"></i> {% endif %}</td>
                <td>{{ record.file_path}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}