{% extends 'base.html' %}
{% block body %}

    <header class="header">
        <h2>Crawler ProcMon Dashboard</h2>
    </header>
    <div class="row"><div class="float-right">
        Overall -
        Loaded: {{ overall_stat.loaded }} /
        Successful: {{ overall_stat.successful }} /
        Completed: {{ overall_stat.completed }}
    </div></div>
    <div class="row">
        {% for tile in tiles %}

            <div class="col-4">
                <div class="card" style="margin-top: 2em">
                    <div class="card-header {{ tile.status }}"></div>
                    <div class="card-body">
                        <h5 class="card-title"><a
                                href="/crawler/{{ tile.name }}">{{ tile.name }}</a>
                            / {{ tile.status }}</h5>
                        <p class="card-text">
                            URL: {{ tile.website }}</p>

                        <p class="card-text"><small class="text-muted">Started
                            at: {{ tile.created_at }}</small>
                        </p>
                        <hr class="my-4">
                        <div>

                                <small class="text-muted">
                                    Loaded: {{ tile.loaded }} /
                                    Successful: {{ tile.successful }} /
                                    Completed: {{ tile.completed }}
                                </small>

                        </div>
                    </div>

{#                    {% if crawler.get_current_info.msg %}#}
{#                        <div class="alert alert-warning" role="alert">#}
{#                            {{ crawler.get_current_info.msg }}#}
{#                        </div>#}
{#                    {% endif %}#}
                </div>
            </div>


        {% endfor %}
    </div>

{% endblock %}